<?xml version="1.0" ?>
<robot name="sphere_v">
  <link name="sphere_v__link_1">
    <inertial>
      <mass value="0.25"/>
      <origin rpy="0 0 0" xyz="0 0 0.04"/>
      <inertia ixx="0.00016" ixy="0" ixz="0" iyy="0.00016" iyz="0" izz="0.00016"/>
    </inertial>
    <collision name="sphere_v__collision">
      <origin rpy="0 0 0" xyz="0  0  0.04"/>
      <geometry>
        <sphere radius="0.04"/>
      </geometry>
    </collision>
    <visual name="sphere_v__visual">
      <origin rpy="0 0 0" xyz="0  0  0.04"/>
      <geometry>
        <sphere radius="0.04"/>
      </geometry>
    </visual>
  </link>
</robot>
